<mat-card>
	<mat-card-header>
		<div mat-card-avatar class="save-file-header"></div>
		<mat-card-title><b>Read from Save File</b></mat-card-title>
		<mat-card-subtitle>Generate an optimal display from a save file</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content>
		Information on the feature
	</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-header>
		<div mat-card-avatar class="load-item-header"></div>
		<mat-card-title><b>Load Items Manually</b></mat-card-title>
		<mat-card-subtitle>Manually select items and tiers from dropdowns</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content>
		Information on the feature
	</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-header>
		<div mat-card-avatar class="results-header"></div>
		<mat-card-title><b>Display Results</b></mat-card-title>
		<mat-card-subtitle>The results for your grange display</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content>
		Information on the feature
	</mat-card-content>
</mat-card>
